<!--
  Generated template for the Login component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-grid>
    <ion-row>
        <ion-col >
            <ion-list>
                <ion-item>
                    <ion-label floating>Username</ion-label>
                    <ion-input type="text" value=""></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Password</ion-label>
                    <ion-input type="password"></ion-input>
                </ion-item>
                <button ion-button full class="marg_top">{{this.titulo}}</button>

            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
